
body {
    margin: 0;
    padding: 0;
}


/********************* This is the header and nav bar */

.header {
    display: flex;
    background-color: #1F2937;
    height: 500px;
    width: 100%;
    margin:
    flex-direction: column;
    justify-content: center;
}

#header_logo_text {
    font-size: 24px;
    color: white;
    padding 10px;
    margin-left: 20px;

}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    align-items: center;
    list-style: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
}

.hero_title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
    
}


.hero_website_copy {
    display: flex;
    flex-direction: column;

}

.hero_description {
    font-size: 18px;
    color: #E5E7EB;
}

.sign_up_button {
    max-width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.placeholder_image {
    display: flex;
    width: 320px;
    height: 150px;
    background-color: #a0a2a5;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#image_text {
    color: black;
}

/******************** This is the beginning of the second section */

.second_section {
    display: flex;
    background: white;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#second_section_title {
    margin: 20px;
    padding: 20px;
    color: black;
}

.second_section_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.image_container {
    color: black;
    width: 100px;
    height: 100px;
    text-align: center;
}

.image_container img {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 10px;
}

/******************** This is the beginning of the second section */

.third_section {
    display: flex;
    background: lightgray;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: gray;
    margin: 50px;
    padding: 100px;
}

#quote_author {
    text-align: right;
}






